name: Terraform

on:
  push:
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    container:
      image: hashicorp/terraform:1.6.6

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Example init
        working-directory: examples/basic
        run: terraform init -backend=false

      - name: Example validate
        working-directory: examples/basic
        run: terraform validate
